<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarta de manzana</title>
</head>

<body>
    <h1>Tarta de manzana</h1>
    <h2>Tarta de manzana rápida y fácil</h2>
    <h3>Ingredientes</h3>
    <ul>
        <li>200 gr harina leudante</li>
        <li>200 gr azucar</li>
        <li>100 gr manteca</li>
        <li>esencia de vainilla</li>
        <li>3 huevos</li>
        <li>200 cc leche</li>
        <li>3 manzanas</li>
    </ul>
    <h3>Paso a paso</h3>
    <ol>
        <li>En un recipiente apto colocar harina, azúcar y manteca a temperatura ambiente. Con los dedos empezar a
            mezclarlas formando una especie de arenado. Colocar la mitad en un molde y esparcir. Pelar y rallar las
            manzanas y colocarlas sobre el arenado. Colocar por encima el resto del arenado. Pueden cortar la manzana en
            rodajas también.</li>
        <li>Con la batidora o a mano batir los huevos, la esencia (un chorrito) y la leche. Agregarla por encima de la
            preparación anterior. Espolvorear con azúcar (no le pongan mucha) y llevar a horno a 180° durante 40
            minutos. Cuando esté lista dejar enfriar y servir.</li>
    </ol>
    <a href="https://cookpad.com/ar/recetas/220902-masa-de-pizza-facil-y-casera">Pizzas</a>
    <a href="https://cookpad.com/ar/recetas/13016539-tarta-de-manzana-rapida-y-facil">Tarta de manzana</a>
    <a href="index.html">inicio</a>
</body>
</html>